[Unit]
Description=monitor-bot
Requires=docker.service
After=docker.service

[Service]
Type=forking
User=ivmuzykin
Restart=always
ExecStart=/usr/bin/docker compose --project-directory /home/BSMP1/ivmuzykin/.monitor-bot/infra/ --file /home/BSMP1/ivmuzykin/.monitor-bot/infra/docker-compose.yml --project-name monitor-bot up -d
ExecStop=/usr/bin/docker compose --project-directory /home/BSMP1/ivmuzykin/.monitor-bot/infra/ --file /home/BSMP1/ivmuzykin/.monitor-bot/infra/docker-compose.yml --project-name monitor-bot down
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=default.target
