[Unit]
Description=monitor-bot
Requires=docker.service
After=docker.service

[Service]
Type=forking
User=potrav2
Restart=always
ExecStart=/usr/bin/docker-compose --project-directory /home/BSMP1/potrav2/.monitor-bot/infra/ --file /home/BSMP1/potrav2/.monitor-bot/infra/docker-compose.yml --project-name monitor-bot start
ExecStop=/usr/bin/docker-compose --project-directory /home/BSMP1/potrav2/.monitor-bot/infra/ --file /home/BSMP1/potrav2/.monitor-bot/infra/docker-compose.yml --project-name monitor-bot stop
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=default.target
